@font-face {
  font-family: "DOSGothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "DOSGothic", sans-serif;
  font-size: 110%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3em;
  color: #fff;
  text-align: center;
  z-index: 1000;
}

#app {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 3em;
  row-gap: 5em;
}

.grid-item-left {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.6em solid #fff;
  font-size: 1.5em;
  padding: 1em;
}

.grid-item-right {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.6em solid #fff;
  font-size: 1.5em;
  padding: 1em;
}

.grid-item-left:hover,
.grid-item-right:hover {
  background-color: darkgray;
  cursor: pointer;
}

.page-container {
  text-align: center;
}
